<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MinBoks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <MinBoks.Properties.Settings>
        <setting name="response" serializeAs="String">
            <value />
        </setting>
        <setting name="brugernavn" serializeAs="String">
            <value>1234567890</value>
        </setting>
        <setting name="password" serializeAs="String">
            <value>01010101</value>
        </setting>
        <setting name="aktiveringskode" serializeAs="String">
            <value>abcdefgh</value>
        </setting>
        <setting name="deviceid" serializeAs="String">
            <value />
        </setting>
    </MinBoks.Properties.Settings>
  </userSettings>
</configuration>
