<?xml version="1.0"?>

<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <add key="response" value="" />
    <add key="brugernavn" value="1234567890" />
    <add key="password" value="01010101" />
    <add key="aktiveringskode" value="abcdefgh" />
    <add key="deviceid" value="" />
    <add key="mailserver" value="smtp.gmail.com" />
    <add key="mailserverport" value="587" />
    <add key="mailserverssl" value="True" />
    <add key="mailfrom" value="mail@local.com" />
    <add key="mailto" value="mail@local.com" />
    <add key="mailserveruser" value="mail@local.com" />
    <add key="mailserverpassword" value="secret" />
    <add key="savepath" value="c:\temp\" />
  </appSettings>

</configuration>